@model IEnumerable<WebProject3.Models.Birthtbl>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mfullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Woreda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mfullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Woreda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C.Fname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cnum">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Cnum">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Cnum">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
